.gallery-main-wrapper {
    padding-top: 100px;
    max-width: 1200px;
    margin: 0 auto;

    h1 {
        padding-left: 1rem;
    }
    .gallery-window-wrapper {
        width: 80%;
        margin: 1rem auto;
    }
}
