@import '../../../Styles/params';

.main-dental-tourism-wrapper {
    margin-top: -32px;
    background-color: $color_6;

    .wrapper {
        display: flex;
        flex-direction: row;

        .content {
            flex: 1;
            padding-left: 1.5rem;
            padding-top: 5rem;
            gap: 1rem;

            .title {
                width: 90%;
                padding: 1rem;
                .title-h1-g {
                    color: $white;
                }
            }
            .description {
                P {
                    padding: 0.8rem;
                    color: #a4c7cd;
                    transform: scale(.7);
                }
            }
        }
        .media {
            flex: 1;
            padding-left: 1rem;
            .media-wrapper {
                display: flex;
                flex-direction: column;

                .video-container {
                    width: 80%;
                    height: 310px;

                    video {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &:hover {
                        transform: scale(1.03);
                        box-shadow: 0px 0px 58px -5px rgba(0, 0, 0, 0.61);
                        -webkit-box-shadow: 0px 0px 58px -5px rgba(0, 0, 0, 0.61);
                        -moz-box-shadow: 0px 0px 58px -5px rgba(0, 0, 0, 0.61);
                    }
                }
            }
        }
    }
}

@media (max-width: 820px) {
    .main-dental-tourism-wrapper {
        .wrapper {
            flex-direction: column;

            .content {
                .description {
                    width: 80%;
                    margin: 0 auto;
                }
            }

            .media {
                padding: 0;
                .media-wrapper {
                    padding: 1rem;
                    .video-container {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}
@media (max-width: 520px) {
    .main-dental-tourism-wrapper {
        .wrapper {
            .content {
                .description {
                    width: 90%;
                }
            }
            .media {
                .media-wrapper {
                    padding: 0rem;
                }
            }
        }
    }
}
