/* COLORES */
$main_color: #b7ccd7;
$color_2: #fdfdfd;
$color_3: #23283dc4;
$color_4: #a4c7cd;
$color_5: #E2DFD8;
$color_6: #23283D;
$white: #ffffffcf;
$black: #0b0b0b;

$new_color_1: #e0d7cb;
$new_color_2: #a8a49c;
$new_color_3: #877265;
$new_color_4: #764533;
$new_color_5: #472924;

// TEXT_COLORS
$text_color1: #a4c7cd;
$text_color_fade1: #a4c7cdc5;
$text_color_fade2: rgba(255, 255, 255, 0.65);

