@import './../../Styles/params';

nav {
    height: 6rem;
    width: 100vw;
    background-color: transparent;
    // box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: $color_4;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.36);
    -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.36);
}

/*Styling logo*/
.logo {
    padding: 1rem;
    text-align: center;
}
.logo img {
    height: 40px;
}

/*Styling Links*/
.nav-link-item {
    color: $color_6;
}

.nav-links {
    display: flex;
    list-style: none;
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    margin-bottom: 0;
}
.nav-links li .nav-link-item {
    text-decoration: none;
    margin: 0 0.7vw;
}
.nav-links li .nav-link-item:hover {
    color: $black;
}
.nav-links li {
    position: relative;
}
.nav-links li .nav-link-item ::before {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: $black;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li .nav-link-item:hover::before {
    width: 80%;
}

/*Styling Buttons*/
.join-button {
    color: #131418;
    background-color: transparent;
    border: 1.5px solid $black;
    border-radius: 30px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    cursor: pointer;
    transform: scale(1.1);
}
.join-button:hover {
    color: #f2f5f7;
    background-color: transparent;
    border: 1.5px solid #f2f5f7;
    background-color: $black;
    transition: all ease-in-out 350ms;
}

/*Styling Hamburger Icon*/
.hamburger div {
    width: 30px;
    height: 3px;
    background: #f2f5f7;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger {
    display: none;
}

/*Stying for small screens*/
@media screen and (max-width: 800px) {
    nav {
        position: fixed;
        z-index: 3;
    }
    .hamburger {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links {
        position: fixed;
        background: #131418;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
    }
    .nav-links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li {
        opacity: 0;
    }
    .nav-links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4) {
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5) {
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6) {
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    .nav-links li:nth-child(8) {
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade {
        opacity: 1 !important;
        color: $white;
    }
    .nav-link-item {
        color: $white;
    }
    .join-button {
        transition: all 0.5s ease 0.11s;
        background-color: transparent;
        border: 1.5px solid white;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    transition: all 0.7s ease;
    width: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
