@import '../../Styles/params';

.why-us-main-wrapper {
    background-color: $color_2;
    padding: 6rem 0;

    .wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;

        .title {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: fit-content; 
            text-align: center;
            padding: 2rem;
        }
        .content {
            display: flex;
            flex-direction: column;
            text-align: center;

            .list-items {
                gap: 2rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-left: 0;

                .item {
                    width: 100%;
                    display: flex;
                    padding: 0 5rem;
                    gap: 2rem;
                    height: 100%;
                    margin: 1rem 0;
                    list-style: none;
                    align-items: center;
                    flex-direction: row;
                    min-height: fit-content;
                    justify-content: center;

                    .item-title {
                        width: 50%;
                        padding: 1.5rem;
                        font-weight: 200 !important;
                        text-align: justify;
                    }

                    .content {
                        width: 50%;
                        height: 60%;
                        .image-wrapper {
                            width: 100%;
                            height: 100%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 20px;

                                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                                -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
                                -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
                            }
                        }
                    }
                }

                .item-reverse {
                    flex-direction: row-reverse !important;
                    padding: 0 5rem;


                    .item-title {
                        width: 50%;
                        padding: 1.5rem;
                        font-weight: 200 !important;
                        text-align: justify;
                    }

                    .content {
                        width: 50%;
                        height: 60%;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 20px;

                            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
                            -webkit-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
                            -moz-box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 820px) {
    .why-us-main-wrapper {
        .wrapper {
            .content {
                .list-items {
                    .item {
                        flex-direction: column;
                        height: 100%;

                        .item-title {
                            width: 100%;
                        }
                    }

                    .item-reverse {
                        flex-direction: column !important;
                        height: 100%;

                        .item-title {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 620px) {
    .why-us-main-wrapper {
        .wrapper {
            .content {
                .list-items {
                    .item {
                        flex-direction: column;
                        height: 100%;
                        padding: 1rem;

                        .item-title {
                            width: 100%;
                            padding: 2rem 0;
                        }
                        .content {
                            width: 80%;
                            height: 40vh;

                            .image-wrapper {
                                width: 100%;
                                height: 100%;
                                img {
                                    width: 100% !important;
                                    height: 100% !important;
                                    object-fit: cover !important;
                                }
                            }
                        }
                    }

                    .item-reverse {
                        flex-direction: column !important;
                        height: 100%;
                        padding: 1rem;

                        .item-title {
                            width: 100%;
                            padding: 2rem 0;
                        }
                        .content {
                            width: 80%;
                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                background-position: right;
                            }
                        }
                    }
                }
            }
        }
    }
}
