@import '../../../Styles/params';

.testimonials-wrapper {
    .testimonials-main-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        background-color: $color_5;
        padding: 2rem 1rem;

        .gallery {
            width: 40%;
            height: 100%;
        }

        .testimonial-container {
            width: 40%;
            height: 100%;
            display: flex;
            flex-direction: column;

            .frame-wrapper {
                width: 100%;
                height: 100%;
            }
            .frame-wrapper-text {
                margin-top: 16%;
                padding: 0 4rem;
                .testimonial {
                    margin-top: -22rem;
                    display: flex;
                    height: 100%;
                    padding: 1rem;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .testimonials-wrapper {
        .testimonials-main-wrapper {
            flex-direction: column;
            padding: 0;

            .gallery {
                width: 90%;
                margin: 0 auto;
                margin-top: 5rem;
            }

            .testimonial-container {
                width: 90%;
                margin: 4rem auto;
            }
        }
    }
}
