.main-services-wrapper {
    padding-top: 110px;
    background-color: tomato;
    background-image: url('../../media/BGS/HeroBG/BGServices.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}